<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head')  %>
</head>
<body>
    
    
    <header> 
      <h1>DictoChat</h1>
    </header>
    <main>
      <section class="login">
        
        <form class="username-form">
        

          <h2>Enter your username:</h2>
          <label for="username">Username</label>
          <input type="text" id="username-input" name="username" placeholder="Username" value="" autocomplete="off">
          <button id="create-user-btn">Join Chat</button>
          
        </form>
      </section>

    
     
      <section class="chat">
        <button id="back-btn">Go Back</button>
        <article class="chat-page">
          <!-- Word description -->
          <ul id="words-container"></ul>
          
          <!-- <button class="save-btn">Save Words</button> -->

          <div class="chat-form">
            <h3>Chat</h3>
            <ul id="chat-messages"></ul>
            
            <form>
              <div class="feedback"></div>
              <!-- <label for="word-input">Enter a word</label> -->
              <input type="text" autocomplete="off" name="word" id="word-input" value="" placeholder="Enter a word">
              <button type="submit" id="submit-button">Send</button>
            </form>
          </div>

        </article>
        
      </section>
    </main>
  
  <div class="user-container">
    <div class="userlist">
      <h2>Online Users </h2>
      <ul id="user-online"></ul>
    </div>
    <button class="user-btn">User List</button>
  
  </div>

    <%- include('./partials/footer')  %>
</body>
</html>