<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head')  %>
</head>
<body>
    
    <h1>Hallo</h1>
  <form>
    <label for="word-input">Enter a word</label>
    <input type="text" name="word" id="word-input" value="">
    <button type="submit" id="submit-button">Submit</button>
  </form>


    <%- include('./partials/footer')  %>
</body>
</html>