* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --light-blue: #D4EFF3;
    --dark-blue: #7BC8D3;
    --dark-teal-blue: #3B8EA5;
    --darkest-teal-blue: #2F5D6B;
    --white: #FFFFFF;
    --black: #000000;
    --black-low-opacity: rgba(0 0 0 / 0.2);
    --grey: #E5E5E5;
    --title: 'highgate', Arial, sans-serif;
    --text: 'interstate', Arial, sans-serif;
}

body {
    background-color: var(--light-blue);
    font-family: var(--text);
    font-size: 1.2rem;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    /* color: var(--dark-teal-blue); */

}



h2,
h1 {
    font-family: var(--title);
    font-weight: bold;
}

li {
    list-style: none;
}

audio {
    width: 100%;
    margin: .5em 0;
}

/* hidden form */
.username-form.hidden {
    display: none;
}

/* .feedback.hidden {
    display: none;
} */

.chat.hidden {
    display: none;
}

/**********/
/* HEADER */
/**********/
header {
    width: 100%;
}

header h1 {
    width: 100%;
    text-align: center;
    padding: .5em;


}



/*************/
/* USER LIST */
/*************/


.user-container {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: .5s transform;
}

.user-container.show-userlist {
    left: 0;
    top: 0;
    bottom: 0;
    /* height: 100vh; */
    transform: translateX(0);
    background-color: var(--dark-teal-blue);
    width: clamp(10em, 30%, 15em);

    transition: .5s transform;
    transform: translateX(0);
}

.userlist {
    margin: 2em;
    color: var(--white);
}

#user-online {
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 80vh;
}

#user-online li {
    color: var(--dark-teal-blue);
    background-color: var(--white);
    padding: .5em;
    border-bottom: 1px solid var(--white);
    border-radius: .5em;
    font-weight: bold;

}

#user-online::-webkit-scrollbar {
    opacity: 0;
}


.user-btn {
    --btn-width: 7em;
    width: var(--btn-width);
    position: absolute;
    /* left: 50em; */
    right: calc(-1 * var(--btn-width));
    top: 3em;


}

/***************/
/* BACK BUTTON */
/***************/
#chat-messages li.user-joined-message {
    background-color: #D4EFF3;
    color: var(--darkest-teal-blue);
    font-weight: bold;
    text-align: center;
    align-self: center;
}

#back-btn {
    --btn-width: 7em;
    width: var(--btn-width);
    position: absolute;
    /* left: 50em; */
    right: calc(-1 * var(--btn-width));
    top: 6em;

}

#back-btn,
.user-btn {
    border: none;
    background-color: var(--dark-teal-blue);
    color: var(--white);
    padding: .5em 1em;
    font-weight: bold;
    cursor: pointer;
}

#back-btn.hide-back-btn {
    display: none;
}

.user-btn.show-userlist {
    position: absolute;
    left: 30em;
    top: 3em;
}

/****************/
/* MAIN CONTENT */
/****************/
main {
    height: fit-content;
    margin: 1em;
    /* background-color: red; */
}

.chat {
    /* background-color: aquamarine; */
    width: 100%;
    height: 95%;
}

.chat-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85vh;
    width: 100%;
}

.chat-page.move {
    display: flex;
    justify-content: flex-end;
}

/******************/
/* THE DICTIONARY */
/******************/

#words-container {
    /* align-self: end; */
    display: flex;
    flex-direction: column;
    /* width: 100%;*/
    height: 75vh;
    /* background-color: red; */
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 1em;
    gap: 2em;
}

#words-container li {
    word-wrap: break-word;
    background-color: white;
    padding: 1em;
    height: fit-content;
    width: 100%;
}

.word h2 {
    font-size: 2em;
    font-weight: bold;
    color: var(--dark-teal-blue);
    text-transform: capitalize;
}

/* .word h2::first-letter {
    text-transform: uppercase;
} */

.word p:nth-of-type(2) {
    color: var(--darkest-teal-blue);
    padding: .5em 0;
}

.copy-word-btn {
    border: none;
    color: var(--white);
    background-color: var(--dark-teal-blue);
    padding: .5em 1em;
    border-radius: .5em;
    font-weight: bold;
    cursor: pointer;
    margin-top: .5em;
}

#words-container::-webkit-scrollbar {
    opacity: 0;
}

figcaption {
    font-size: .8em;
}

/************/
/* THE CHAT */
/************/

.chat-form {
    position: relative;
    background-color: var(--white);
    width: 100%;
    height: 75vh;
}

.chat-form h3 {
    text-align: center;
    padding: .5em;
}

.chat-form form {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#chat-messages {
    display: flex;
    flex-direction: column;
    height: 10em;
    width: 100%;
    padding: 1em;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

#chat-messages li {
    font-size: 1em;
    width: 80%;
    background-color: var(--grey);
    padding: .5em;
    word-wrap: break-word;
    margin: .5em;
    align-self: start;
    border-radius: .5em;
}

#chat-messages li span {
    display: block;
    font-size: .8em;
    font-weight: bold;
    margin-bottom: 2px;
}

#chat-messages li.own-message {
    align-self: end;
    background-color: var(--dark-teal-blue);
    color: var(--white)
}

/* .feedback-hide-typing-indicator {
    display: none;
} */
#chat-messages::-webkit-scrollbar {
    opacity: 0;
}

#word-input {
    background-color: var(--grey);
    width: 80%;
    padding: 1em;
    border: none;
}

#submit-button {
    width: 18%;
    border: none;
    background-color: var(--dark-teal-blue);
    padding: 1em;
    color: var(--white);
    font-weight: bold;
    transition: .2s ease-in-out;
}

#submit-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}
/******************/
/* USER IS TYPING */
/******************/
.feedback {
margin-left: 1em;
margin-bottom: .5em;
animation: knippereffect 1.2s linear infinite;
}

.feedback span {
    font-weight: bold;
    color: var(--dark-teal-blue);
}

@keyframes knippereffect {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/*****************/
/* USERNAME FORM */
/*****************/
.login {
    display: grid;
    place-items: center;
}

.username-form {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 1em;
    width: 100%;
    height: 75vh;
    background-color: var(--white);
    border-radius: 1em;
    box-shadow: 2px 2px var(--black-low-opacity);

}

.username-form h2 {
    padding: 2em 0;

}

.username-form input {
    padding: 1em;
    border: none;
    background-color: var(--grey);
    border-bottom: 2px solid var(--dark-teal-blue);

}

#create-user-btn {
    width: fit-content;
    background-color: var(--dark-teal-blue);
    padding: 1em 1.5em;
    color: var(--white);
    font-weight: bold;
    font-family: var(--text);
    border: none;
    transition: .5s ease-in-out;
    margin-top: 1em;
}

#create-user-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: var(--dark-blue);
}

/**********/
/* OFLINE */
/**********/
.error-message {
    display: none;
}

.error-message.socket-disconnected {
    display: block;
    position: absolute;
    inset: 0;
    text-align: center;
    z-index: 2;
    border: none;
    padding: 10px;
    background-color: var(--light-blue);
    color: var(--darkest-teal-blue);

}

.hit-the-floor {
    color: var(--dark-teal-blue);
    font-size: 12em;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow:
        0 1px 0 var(--darkest-teal-blue),
        0 2px 0 var(--darkest-teal-blue),
        0 3px 0 var(--darkest-teal-blue),
        0 4px 0 #284f5b,
        0 5px 0 #18343c,
        0 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .25),
        0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15);
}


/***********/
/* LOADING */
/***********/
.loader.loader-screen {
    background: #284f5b;
    position: absolute;
    inset: 0;
    z-index: 1;
    animation: fadeOut 1s ease-in-out forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@media (min-width: 60em) {

    /* Username form */
    .username-form {
        width: 25em;

    }

    #chat-messages {
        height: 80%;
    }

    .user-container {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        /* height: 100vh; */
        transform: translateX(0);
        background-color: var(--dark-teal-blue);
        width: clamp(10em, 30%, 15em);

        transition: .5s transform;
    }

    .user-container.show-userlist {
        transform: translateX(0);
    }


    .chat-page {
        flex-direction: row;

    }

    #words-container li {
        width: 25vw;
    }

    .chat-form {
        width: 25vw;
        height: 75vh;
    }

}